body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
    background-color: #f5f5f5;
    color: #333333;
}

body.dark-mode {
    background-color: rgb(3, 3, 75);
    color: #ffffff;
}

.App {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode .App {
    background-color: #f5f5f5;
    color: #333333;
}

body.dark-mode .App {
    background-color: rgb(3, 3, 75);
    color: #ffffff;
}

a {
    color: #7b68ee;
    /* medium slate blue accent */
}

body.light-mode a {
    color: #008080;
    /* teal for light mode */
}

body.dark-mode a {
    color: #b0c4de;
    /* light steel blue for dark mode */
}

/* Additional styling for buttons and header can be added here */